/* Estilos de las etiquetas semánticas principales */
header, footer, nav, section, aside {
	background-color: silver;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	font-size: 150%;
	margin: 5px;
}

/* Estilos del contenedor section. Se utiliza un id porque solo se va aplicar a este elemento */
#principal {
	display: flex;
	flex-direction: row;
}

/* Estilos del contenedor nav */
#menu {
	flex-basis: 10%;
	display: flex;
	flex-direction: column;
}

/* Estilos del contenedor aside para los iconos */
#contenedor-iconos {
	flex-basis: 20%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

/* Estilos del footer */
footer {
	position: relative;
}

/* Estilos para que el texto rodee a la imagen. Propiedad float */
.imagen-float {
	width: 300px;
	float: right;
}

.fin-float {
	clear: both;
}

/* Estilos para los iconos del aside */
.titulo-iconos {
	width: 100%;	
}

.contenedor-icono {
	width: 50%;
}

.icono {
	width: 50px;
}

/* Estilos de los párrafos dentro del footer */
footer p {
	position: relative;
	z-index: 3;
}

/* Estilos para el posicionamiento absoluto. Debe estar dentro de un contenedor no static, posicionamiento por defecto */
.posicion-absoluta {
	position: absolute;
	top: 20px;
	left: 50px;
	width: 100px;
	z-index: 2;
}

/* Estilos para el posicionamiento absoluto */
.anuncio {
	position: fixed;
	top: 200px;
	left: 200px;
	height: 200px;
	width:200px;
	background-color: salmon;
}
